/* Custom Styles not Using Sass Compiler*/
 body {
  background-color: #FFFFF0;
}

.main-img, .responsive-img {
  background-image: url(../images/peony2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 415px;
}

.nav-bg {
  background-color: aliceblue;
}

#logo {
  text-align: left;
  margin-left: 10px;
  font-weight: 100;
}

h5 {
  text-align: left;
}

.opacity-style {
  background-color: aliceblue;
  opacity: .6;
<<<<<<< HEAD
=======

>>>>>>> 0a44541128cb2311d45e8741ef1791fd8ec014d2
}

.page-footer {
	background-image: url(../images/banner.png);
  float: left;
  width: 100%;
  background-size: 100%;
	/*background-color: #7EA6CF;*/
	/*background-color: #718EAC;*/
}

#about-header, #about-section, #connect-header, #connect-section {
  text-align: center;
}

.venue-card {
  background-image: url(../images/venue1.jpg);
  height: 400px;
  width: 400px;
}

.footer-copyright {
	background-color: grey;
<<<<<<< HEAD
=======

}

.brand-logo {
	margin-left: 40px;
>>>>>>> 0a44541128cb2311d45e8741ef1791fd8ec014d2
}

