/* Custom Styles not Using Sass Compiler*/
 body {
  background-color: #FFFFF0;
}

.main-img, .responsive-img {
  background-image: url(../images/peony2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 415px;
  opacity: 1.0;
}

#img-text {
  font-size: 50px;
  text-align: center;
  font-weight: 200;
  font-style: italic;
  /*background-color: aliceblue;*/
}

.nav-bg {
  background-color: aliceblue;
}

#logo {
  /*position: relative;*/
  text-align: left;
  margin: 20px 0px 0px 20px;
  font-weight: 300;
  font-family: 'League Script', cursive;
}

#form-logo {
  text-align: center;
  font-weight: 300;
  font-family: 'League Script', cursive;
}

#user-form {
  margin-left: 25%;
  padding: 20px;
  height: 325px;
  background-color: #FFFFF0;
  color: black;
  opacity: 0.9;
}

#submit-btn {
  margin-left: 10px;
}

p.a {
  font-size: 20px;
  font-style: bold;
}

.venue-card {
  background-image: url(../images/venue1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 532px;
}

.flowers-card {
  background-image: url(../images/flower-card.jpg);
  background-position: center;
  height: 200px;
}

.music-card {
  background-image: url(../images/music1.jpg);
  background-position: center;
  height: 200px;
}

.bridal-card {
  background-image: url(../images/dress3.jpg);
  background-position: center;
  height: 250px;
}

.opacity-style {
  background-color: aliceblue;
  opacity: .6;
}

.page-footer {
	background-image: url(../images/banner.png);
  float: left;
  width: 100%;
  background-size: 115%;
}

#about-header, #about-section, #connect-header, #connect-section {
  text-align: right;
}



