/* Custom Styles not Using Sass Compiler*/
 body {
  background-color: #FFFFF0;
}

.main-img, .responsive-img {
  background-image: url(../images/peony2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 415px;
}

.nav-bg {
  background-color: aliceblue;
}

#logo {
  /*position: relative;*/
  text-align: left;
  margin-left: 10px;
  font-weight: 100;
}

.card-content {
  height: 250px;

}

#venue-card {
  background-image: url(../images/venue1.jpg);
  background-position: center;
}

#flowers-card {
  background-image: url(../images/peony1.jpg);
  background-position: center;
}

#music-card {
  background-image: url(../images/music1.jpg);
  background-position: center;
}

.opacity-style {
  background-color: aliceblue;
  opacity: .6;
}

.page-footer {
	background-image: url(../images/banner.png);
/*  background-repeat: no-repeat;*/
  float: left;
  width: 100%;
  background-size: 115%;

	/*background-color: #7EA6CF;*/
	/*background-color: #718EAC;*/
}

#about-header, #about-section, #connect-header, #connect-section {
  text-align: right;
}

.venue-card {
  background-image: url(../images/venue1.jpg);
  height: 400px;
  width: 400px;
}

.footer-copyright {
	background-color: grey;
}

.brand-logo {
	margin-left: 40px;
}

